<%- include('header') -%>
<body>
    <%- include('nav') -%>
    <section class="container about">
        <h1 class="heading">About</h1>
        <p>So guys this is the About  page and hmmm, since it’s is actually a fun page
        I actually don’t know what to say but what this page is actually all about is 
        fun, fun, fun, and fun. The sole purpose of this website is for people to share there different 
        Christmas experiences. Both the good and bad, the joy and sad. Here we can actually feel that relief 
        when we share the best of our Christmas moments. Sometimes our hearts are full of bottled ready to burst,
        and one of the best way to express ourselves and gain
        relief is through pouring out those words in pen. So just pen down your best moments. Goodluck!
        </p>
    </section>
    <%- include('footer') -%>
    <script src="script/script.js"></script>
</body>