<%- include('header') -%>
<body>
    <%- include('nav') -%>
    <form action="/compose" method="post" class="form">
        <h1 class="heading">Compose</h1>
        <div class="input-container">
            <label for="">Title</label>
            <input type="text" name="title">
        </div>
        <div class="input-container">
            <label for="">Post</label>
            <textarea name="post" ></textarea>
        </div>
        <button type="submit" name="submit" >Publish</button>
    </form>
    <%- include('footer') -%>
    <script src="script/script.js"></script>
</body>
</html>

<!-- Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae itaque officiis veritatis,
 earum molestias quibusdam laudantium soluta ea deserunt eveniet voluptates expedita laborum.
  Voluptatibus deserunt exercitationem magnam quae laborum ab perspiciatis nam at, placeat officiis sequi voluptas perferendis 
  quo iure sunt totam id magni sint repellendus eaque. Accusamus fuga provident illum
 explicabo necessitatibus earum molestiae et blanditiis? Repellendus, cum et! Lorem ipsum dolor sit 
 amet consectetur adipisicing elit. Deserunt sunt blanditiis impedit aut perspiciatis, 
 commodi nobis aliquid sit harum velit! -->