<%- include('header') -%>
<body>
    <%- include('nav') -%>
    <section class="container">
        <h1 class="heading">Contact</h1>
        <p>We are Fem-tech! <br>
            We are fem-webDev! <br>
            You can contact us on our different social platforms below<br>
            WhatsApp | 08149118596 <br>
            Facebook | Adeyemi femi <br>
            Twitter | @fem-webDev <br>
            Instagram | @Bossfemzy <br>
            <br>
            We love you.
            
        </p>
    </section>
    <%- include('footer') -%>
    <script src="script/script.js"></script>
</body>