<%- include('header') -%>
<body>
    <%- include('nav') -%>
    <section class="container">
        <h1 class="heading">Contact</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Voluptas excepturi illum fugit expedita in, quibusdam sequi 
            saepe labore consequatur neque harum nostrum quae hic facere sunt 
            culpa id nam deleniti ipsum praesentium ut reiciendis! Pariatur rerum, 
            in amet at accusamus, provident hic facilis quos id asperiores voluptates. 
            Quisquam aliquam magnam hic consectetur, ea atque officiis. Saepe nihil sequi
             facere adipisci. Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, dolore?
        </p>
    </section>
    <%- include('footer') -%>
</body>