<header id="header">
    <div class="logo">DAILY JOURNAL</div>
    <img src="images/hamburger.png" class="ham-open" alt="">
    <img src="images/cancel.png" class="cancel" alt="">
        <ul>
            <li><img src="images/home.png"  class="img" alt=""><a href="/">Home</a></li>
            <li><img src="images/info.png" class="img" alt=""><a href="/about">About Us</a></li>
            <li><img src="images/compose.png"  class="img" alt=""><a href="/compose">Compose</a></li>
            <li><img src="images/contact.png"  class="img" alt=""><a href="/contact">Contact Us</a></li>
        </ul>
</header>