*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: antiquewhite;
}

#header .logo{
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.5rem;
    margin-left: 10%;
    font-weight: 400;
}

#header ul{
    display: inline-block;
    font-family: 'Satisfy', sans-serif;
    font-size: 1.3rem;
    margin-right: 8%;
}

#header li{
    list-style-type: none;
    display: inline-block;
    padding: 10px;
    margin: 5px;
    letter-spacing: 0.1rem;
    cursor: pointer;
}

#header a{
    color: black;
    text-decoration: none;
}

.heading{
    font-size: 40px;
    font-weight: 400;
    margin: 25px 10px 0 0;
    font-family: sans-serif;
}

.container{
    margin-left: 10%;
    font-family: sans-serif;    
}

.container p{
    max-width: 850px; 
    font-family: 'Open Sans', sans-serif;  
}

.span{
    display: inline;
    background-color: transparent;
    border: none;
    color: cornflowerblue;
    cursor: pointer;
    margin-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

.form{
    margin-left: 10%;
}

.input-container label{
    display: block;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    margin: 5px 0;
}

.input-container input{
    height: 40px;
    width: 80%;
    padding: 10px;
}

.input-container textarea{
    width: 80%;
    height: 100px;
    padding: 10px;
}

.form button{
    background-color: teal;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.empty, .home{
    padding: 5px 10px;
    background-color: teal;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 18px;
    margin: 20px 0 0 10%; 
    border: none;
    cursor: pointer;
}

.empty:hover, .home:hover{
    background-color: darkcyan;
}

.form button:hover{
    background-color: darkcyan;
}

.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: lavender;
    font-family: 'Montserrat', sans-serif;
}

.footer p{
    text-align: center;
    font-style: italic;
    transform: translateX(-35%);
    /* transform: translateY(10%); */
}

.footer div{
    position: relative;
    left: 40%;
    margin-top: 30px;
    box-shadow: 0px 0px 4px gray;
    display: inline-block;
    opacity: 0.6;
    padding: 5px 10px;
}